* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #53475B;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #1F1823;
}

img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;  
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;  
}


.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}

#user-score, 
 #compt-score{
    font-size: 2.5rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #1F1823;
    color: white;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}